article {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [popout-start] 5rem
    [center] 65ch
    5rem [popout-end]
    1fr [full-end];

  > * {
    grid-column: center;
  }

  blockquote {
    grid-column: popout;
  }

  img {
    grid-column: full;
  }
}
