:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.text_flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  h1 {
    color: var(--color-heading);
  }

  p {
    color: var(--color-body);
  }

  button {
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
  }
}

.img_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.img_grid img {
  border-radius: 10%;
}
.img_grid img:nth-child(1),
.img_grid img:nth-child(3),
.img_grid img:nth-child(7) {
  grid-column: 2;
  justify-self: center;
}

.img_grid img:nth-child(2) {
  grid-row: 2;
}

.img_grid img:nth-child(3) {
  grid-row: span 2;
}
